* {
  padding: 0;
}
.course__container {
  margin-top: 70px;
  h2 {
    display: flex;
    justify-content: center;
    font-weight: 540;
    font-size: 30px;
  }
  .slider {
    display: block;
    position: relative;
    .about {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-align: center;
      align-items: center;
      margin: 20px;
      img {
        height: 70px;
        width: 70px;
      }
      h3 {
        display: inline-block;
        height: 40px;
        color: #666666;
        font-weight: lighter;
        border-bottom: 1px solid #337ab7;
        font-size: 22px;
      }
      &:nth-child(1) h3 {
        width: 309px;
      }

      &:nth-child(2) h3 {
        width: 284px;
      }

      &:nth-child(3) h3 {
        width: 305px;
      }
      p {
        color: #767676;
        font-size: 16px;
      }
      &:nth-child(1) p {
        width: 302px;
      }
      &:nth-child(2) p {
        width: 295px;
      }
      &:nth-child(3) p {
        width: 292px;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 0;
    }
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        list-style: none;
    }
      button {
        font-size: 0;
      }
    }
    .slick-list {
      overflow: hidden;
    }
    .slick-track {
      display: flex;
      width: 300px;
      min-width: 0;
      opacity: 0;
    }
    div {
      #slick-slide00,
      #slick-slide01,
      #slick-slide02 {
        .about {
          .slick-slide {
            display: flex;
          }
        }
      }
    }
  }
}
/*
    ========================================
    Slider for media
    ========================================
*/
@media screen and (max-width: 1024px) {
  .course__container {
    .slider {
      .about {
        img {
          height: 50px;
          width: 50px;
        }
        h3 {
          height: 40px;
          border-bottom: 1px solid #337ab7;
          font-size: 18px;
        }
        &:nth-child(1) h3 {
          width: 253px;
        }
        &:nth-child(2) h3 {
          width: 236px;
        }
        &:nth-child(3) h3 {
          width: 252px;
        }
        p {
          font-size: 14px;
        }
        &:nth-child(1) p {
          width: 225px;
        }
        &:nth-child(2) p {
          width: 248px;
        }
        &:nth-child(3) p {
          width: 247px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .slider {
    display: block;
    position: relative;
    .about {
      p {
        width: 218px;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 0;
    }
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        list-style-type: none;
        margin: 0 7px;
      }
      button {
        font-size: 0;
        width: 7px;
        height: 7px;
        background-color: #b3b3b3;
        color: #b3b3b3;
        border-radius: 50%;
       #slick-slide-control00,
       #slick-slide-control01,
       #slick-slide-control02 {
         background-color: #b3b3b3;
        }
      }
    }
    .slick-list {
      overflow: hidden;
    }
    .slick-track {
      display: flex;
      min-width: 0;
      opacity: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .course__container {
    h2 {
      font-size: 25px;
    }
  }
}