@import "variables";
.cta__container {
    height: 200px;
    background-color: $blue-color;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cta__block {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 50px;

      .cta__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        flex: 1;

        a {
          img {
            margin: 10px;

            &.tel {
              width: 47px;
              height: 47px;
            }

            &.email {
              width: 58px;
              height: 45px;
            }

            &.location {
              width: 43px;
              height: 51px;
            }

            &.facebook {
              width: 29px;
              height: 52px;
            }
          }
        }

        h5 {
          color: #ffffff;
          margin: 5px 0;
          font-size: 15px;
        }
    a {
          p {
            color: #ffffff;
            margin: 0;
            font-size: 13px;
            text-align: center;
          }
        }
      }
    }
  }
  /*
       ========================================
       Media
       ========================================
*/
  @media screen and (max-width: 815px) {
    .cta__container {
      height: 273px;
      .cta__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 50px;
        .cta__items {
          margin: 0 20px 10px 0;
        }
      }
    }
  }
  @media screen and (max-width: 463px) {
    .cta__container {
      height: 300px;
      margin: 0;
    }
  }
  @media screen and (max-width: 419px) {
    .cta__container {
      height: 330px;
      .cta__block {
        margin: 0 auto;
        padding: 0;
        grid-template-columns: 10.8em 1fr;
        .cta__items {
          margin: 5px 1px;
        }
      }
    }
  }
  @media screen and (max-width: 351px) {
    .cta__container {
      .cta__block {
        grid-template-columns: 9.8em 1fr;
        .cta__items {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

