@import "variables";
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 155px;
  background-color: $background-grey;
    .footer__container {
    display: flex;
    flex-direction: column;
    span {
      font-size: 14px;
      color: $blue-color;
      font-weight: 500;
    }
    a {
      p {
        font-size: 13px;
        font-weight: 500;
        color: $text-color;
      }
    }
  }
}