@import "_mixin", "variables";
.mentors__container {
  height: 612px;

  .mentors__block {
    h2 {
      padding-top: 40px;
      text-align: center;
      font-weight: 540;
      font-size: 34px;
    }
    .slider__mentors {
      .slider__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;

        img {
          display: flex;
        }

        .slider__item-text {
          span {
            display: block;
            padding-top: 15px;
            padding-bottom: 14px;
            border-bottom: 1px solid #d0d0d0;
            color: $blue-color;
            font-size: 17px;
          }

          p {
            text-align: inherit;
            color: #c9c9c9;
            font-size: 16px;
          }
        }
      }

      @include details_slider;
    }
  }
}
/*
    ========================================
     media for slider mentors
    ========================================
*/
@media screen and (max-width: 1230px) {
  .mentors__container {
    height: auto;
  }
}
@media screen and (max-width: 890px) {
  .mentors__container {
    .mentors__block {
      .slider__mentors {
        .slider__item {
          display: flex;
          flex-direction: column;
          img {
            max-width: 150px;
          }
          .slider__item-text {

            span {
              text-align: center;

            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}