.mentors {
  height: 545px;
  .mentors__container {

    h2 {
      padding-top: 40px;
      text-align: center;
      font-weight: 540;
      font-size: 30px;
    }
    .slider__mentors {
      .photo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        img {
          display: flex;
        }
        .text {
          span {
            display: block;
            padding-top: 15px;
            padding-bottom: 14px;
            border-bottom: 1px solid #767676;
            color: #337ab7;
            font-size: 17px;
          }
          p {
            text-align: inherit;
            color: #767676;
            font-size: 16px;
          }
        }
      }
      .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        display: none !important;
      }
      .slick-dots {
          display: flex;
          justify-content: center;
        li {
          list-style: none;
        }
        button {
          width: 7px;
          height: 7px;
          background-color: #b3b3b3;
          border-radius: 50%;
          font-size: 0;
          border: none;
          margin: 10px;
          &:active {
            background-color: #767676;
          }
        }
      }
      .slick-track {
        display: flex;
        min-width: 0;
        opacity: 0;
      }
    }
  }
}
/*
    ========================================
     media for slider mentors
    ========================================
*/
@media screen and (max-width: 1230px) {
  .mentors {
    height: auto;
  }
}
@media screen and (max-width: 890px) {
  .mentors {
    .mentors__container {
      .slider__mentors {
        .photo {
          display: flex;
          flex-direction: column;
          img {
            max-width: 150px;
          }
          .text {

            span {
              text-align: center;

            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}