.registration__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f7;
  height: 550px;
  width: 100%;
  .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 1;

    h1 {
      font-size: 25px;
      font-weight: 400;
    }

    p {
      color: #767676;
      line-height: 22.3px;
      width: 349px;
    }
  }
  .box_info {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    flex: 1;
    p {
      color: #000;
      font-size: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
    .info {
      margin: 8px 0;
    }
      label {
        color: #000;
        font-size: 14px;
        img {
          width: 5px;
          height: 5px;
          padding-top: 6px;
        }
      }
      input {
        height: 32px;
        width: 520px;
        border: 1px solid #767676;
        border-radius: 4px;
        &:focus {
          outline: none;
          border-color: #337ab7;
          box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
      p {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #767676;
        input {
          width: 14px;
          margin-right: 5px;
          &:focus {
              outline: none;
              border-color: initial;
              box-shadow: none;
          }
        }
        span {
          margin: 4px;
          color: #337ab7;
        }
        img {
          width: 5px;
          height: 5px;
          padding: 6px 0 0 1px;
        }

      }
      button {
        font-size: 15px;
        height: 50px;
        width: 350px;
        background-color: #337ab7;
        color: #FFFFFF;
        border-radius: 27px;
        margin: 0 110px;
      }
    }
  }
}

/*
    ========================================
    Media
    ========================================
*/
@media screen and (max-width: 1024px) {
  .registration__container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 900px;
    .box {
      flex: 3;
    }

    .box_info {
      flex: 1;
     justify-items: center;
      align-items: center;
    }
  }
}
@media screen and (max-width: 900px) {
  .registration__container {
    margin-top: 80px;
  }
}
@media screen and (max-width: 711px) {
  .registration__container {
    .box_info {
      form {
        display: flex;
        align-items: baseline;

        input {
          width: 290px;
        }
        button {
          font-size: 15px;
          height: 50px;
          width: 270px;
          background-color: #337ab7;
          color: #FFFFFF;
          border-radius: 27px;
          margin: 0 110px;
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .registration__container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-items: start;
  }
}
@media screen and (max-width: 400px) {
  .registration__container {
      font-size: 13px;
    .box {
      display: flex;
      align-items: center;
      h1 {
        font-size: 23px;
        width: 300px;
      }
    }
    .box_info {
      p {
        flex-wrap: wrap;
        width: 300px;
        &:first-child {
          display: flex;
          justify-content:  center;
        }

        input{

          span{
            margin: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .registration__container {
    .box {
      h1 {
        font-size: 20px;
        width: 260px;
      }
      p {
        width: 300px;
      }
    }
    .box_info {
      form {
        input {
          width: 250px;

          span {
            margin: 0;
          }
        }
      }
    }
  }
}