@import "variables";

.video__container {
  height: 858px;
  background-color: $background-grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  .video__description {
    padding-top: 34px;
    text-align: center;
    max-width: 1346px;
    margin: 0 auto;

    h2 {
      font-weight: 540;
      font-size: 34px;
    }
    p {
      color: $text-color;
      font-size: 20px;
    }
  }
  .video__block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    width: 75%;
    .video__player {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
